<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="Calculator"
        android:icon="@mipmap/ic_launcher"
        android:hasCode="true"
        android:allowBackup="false"
        android:appCategory="productivity"
        android:isGame="false"
        android:theme="@style/Theme.AppCompat.NoActionBar">

        <activity
            android:name="com.google.androidgamesdk.GameActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="android.app.lib_name"
                android:value="calculator" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
